
<div class="row" class="comment">
    <div class="col-sm-12 col-md-8">
        {{!-- <h3>{{ title }}</h3>
        <p>{{ task }}</p>
        {{#if notDone }}
            <a class="finishItem" data-id="{{id}}">Finish</a> 
        {{/if}}
        {{#if done }}
            <em>This task has been completed</em>
        {{/if}} --}}
        <p>this is a new comment</p>
    </div>
</div>