    <div>
        <h3> Create new listing </h3>
        <form method="POST" id="create-item-form" action='/createNewItem/add'>
            <label for="createItemName">Item name</label>
            <input name="createItemName" id="createItemName"> <br>
            <label for="createItemDescription">Description</label>
            <input name="createItemDescription" id="createItemDescription"> <br>
            <label for="createCategories">Categories: Seperate each cateogry with a comma</label>
            <input name="createCategories" id="createCategories"> <br>
            <label for="createStartingPrice">Starting Price</label>
            <input name="createStartingPrice" id="createStartingPrice"> <br>
            <label for="createImageLinks">Image links</label>
            <input name="createImageLink" id="createImageLinks"> <br>
            <button type="submit">submit</button>
        </form>
    </div>